*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #e0df88;
}
.container {
    display: flex;
    height: 700px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 150px;
}
.info {
    background-image: url('../img/granos.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 50px;
    width: 50%;   
}
.txt-1 {
    color: #ffe600;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}
.info h2 {
    color: #ffe603;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 25px;
    text-align: center;
}
.info hr {
    width: 55px;
    border: 4px solid #fff;
    margin-left: 170px;
    margin-bottom: 25px;
}
.txt-2 {
    color: #fff;
    font-size: 18px;
}
.form {
    padding: 150px 100px;
    width: 50%;
    text-align: center;
    background-color: #fff;
}
.form h2 {
    color: #b32d2d;
    font-size: 30px;
    margin-bottom: 25px;
}
.form p {
    font-size: 16px;
    color: #b32d2d;
    margin-bottom: 25px;
}
input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* ancho sea uniforme */
    display: block;
}
.form input[type="submit"] {
    width: 50%;
    padding: 12px;
    background-color: #b32d2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}
.form a {
    color: #b32d2d;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}
