<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos Mercasuper</title>
    <link rel="stylesheet" th:href="@{/css/stylee.css}">
</head>
<body>
<h1>Lista de Productos</h1>

<!-- Listado de productos -->
<div>
    <ul>
        <li th:each="producto : ${productos}">
            <strong th:text="${producto.nombre}">Nombre</strong> - 
            $<span th:text="${producto.precio}">0.0</span><br>
            <span th:text="${producto.descripcion}">Descripción</span><br>
            <img th:src="@{/img/{img}(img=${producto.imagen})}" alt="Producto" width="100">
        </li>
    </ul>
</div>

</body>
</html>